* {
    margin: 0;
    padding: 0;
}

*,
body {    
    font-weight: normal;
}

.padding-base {
    padding: 5%;
}

.padding-top-base {
    padding-top: 5%;
}

.hidden-block {
    display: none;
}

h1 {
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

#logo {
    text-align: center;
    vertical-align: middle;
    padding: 5%;
}

.text-center {
    text-align: center;
}

#update-avaliable-label {
    margin-top: 1%;
}